
  nav {
    background-color: #ce6301;
    border-bottom: 1px solid #ddd;
    height: 110px;
    width: 100%;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
  }

  .bars{
    display: none;
  }

  .logo img {
    margin: 0 ;
    padding: 0 ;
    width: 135px;
    height: 109px;
  }
  
  .nav-links, .search {
    display: flex;
    gap: 40px;
  }
  
  .nav-links a, .search a {
    text-decoration: none;
    letter-spacing: 0.01em;
    color: #ffffff;
    font-weight: 700;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: yellow;
  }
  
/* mini nav */
.mini-nav {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px 10px 20px;
    height: 50px;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .icon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
  }

  .icon-text{
  font-size: 0.9em;
  
}
.icons-links{
    font-size: 1.05em;
    color: var(--hover-color);
    margin-right: 12px;
  }

.main__container{
  display: none;
}


  /* nav media queries */
  @media (min-width: 320px) and (max-width: 480px) {
    .nav-links {
      display: none;
    }
    .nav-bar{
      width: 100%;
      padding: 0 0.3em 0 0.7em;
    }
    .bars{
      display: block;
    }
    .btn-bars{
      border: none;
      background-color: transparent;
    }
    .bars-icon{
      color: #ffffff;
      font-size: 1.2em;
    }
    .search{
      gap: 20px;
      font-size: 1.1em;
    }
    .fa-user{
      display: none;
    }
    
    .mini-nav{
      display: none;
    }

    .enable-animation{
      margin-block: 1.2rem;
  }  
  
  .main__container {
    display: block;
    position: relative;
  }
  
  /* Marquee styles */
  .marquee {
    --gap: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    border:none;
    background-color: #e98e39;
  }
  
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    gap: var(--gap);
    min-width: 100%;
  }
  
  .marquee__content > * {
    flex: 0 0 auto;
    color: rgb(247, 246, 246);
    background: transparent;
    margin: 0px;
    padding: 0.2em;
    text-align: center;
  }

  .marquee__item{
    padding: 3px 10px;
  }
  
  ul { padding-left: 0; }
  
  
  @keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-100% - var(--gap))); }
  }
  
  /* Enable animation */
  .enable-animation .marquee__content {
    animation: scroll 10s linear infinite;
  }
  


  }


  /* navbar ends */

